@charset "UTF-8";
@font-face {
    font-family: 'bonita';
    src: url(../fontes/Hello.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'dife' ;
    src: url(../fontes/MilkyVintage-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}


:root{
    --cor1:#606c38;
    --cor2:#283618;
    --cor3:#fefae0;
    --cor4:#dda15e;
    --cor5:#bc6c25;
    --cor6:#794E36;
}

*{
    margin: 0px;
    padding: 0px;
}
body, html{
    background-image: linear-gradient(to left, var(--cor6), var(--cor5), var(--cor4));
}

header{
    background-color: gray;
}

header > h1{
    font-family: 'bonita';
    font-size: 2.5em;
    text-align: center;
    background-image: url(../imagens/pratosaleatorios.jpg) ;
    background-size:cover;
    padding-top: 7px;
    color:white;
    text-shadow: 3px 3px 1px black;
}

menu > ul {
    list-style-type: none; 
}

menu > ul > li > a{
    display: block;
    padding: 6px;
    text-decoration: none;
    text-align: center;
    background-color: var(--cor2);
    color: white;
    border-top: 2px solid rgba(211, 211, 211, 0.74);
    
}

menu > ul > li a:hover{
    background-color: #606c38;
    
}

main > h1{
    font-family: 'dife';
    color: var(--cor2);
    font-size: 3em;
    text-align: center;
    padding: 10px;
    text-shadow: 1px 3px 5px var(--cor3);
    
}
main > div > h2{
    font-family: 'bonita';
    text-align: center;
    font-size: 2.8em;
    text-shadow: 1px 2px 5px white;
    
}
main > div > ul{
    list-style-type: none;
    text-decoration: none;
    margin-top:15px ;
    
}
main > div > ul > li{
    display: block;
    padding: 8px 0px 8px 8px;
    text-align: right;
}


main > div > ul > li > a{
    font-family: 'dife';
    font-size: 1.1em;
    color: white;
    padding: 7px;
    background-color: #283618;
    margin-right: 5px;
    border-radius: 7px;
    text-decoration: none;
    box-shadow: 1px 2px 15px white;
    
}
main > div{
    height: 210px;
    border: 2px solid var(--cor2);
    box-shadow: 0px 0px 15px var(--cor2);
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
}


#batata{
    background-image: url(../imagens/batata.jpg) ;
    background-size: cover;
    
}

#batatacb{
    background-image: url(../imagens/batatacheddar.jpg);
    background-size: cover;
    margin-top: 18px;
}

#aneis{
    background-image: url(../imagens/Aneis.jpg);
    background-size: cover;
    margin-top: 18px;
}

#dadinho{
    background-image: url(../imagens/Dadinho.jpg);
    background-size: cover;
}

#mandioca{
    background-image: url(../imagens/Mandioca.jpg);
    background-size: cover;
    margin-top: 18px;
}

footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    padding: 5px;
    margin-top: 17px;
}


